.results {
    display: flex;
}

.resultsLeft {
    flex: 1 1 0;
    margin: 10px;
    padding: 3px;
}

.resultsRight {
    flex: 1 1 0;
    margin: 10px;
    padding: 3px;
    align-content: right;
    text-align: right;
}

.resultline {
    margin-bottom: 10px;
    display: flex;
}

.rlabel {
    flex: 0 0 130px;
    text-align: left;
}

.rbar {
    flex: 1 0 auto;
}

.rzscore {
    flex: 0 0 40px;
    text-align: right;
}

.rchartbutton {
    flex: 0 0 20px;
    width: 100%;
    margin-left: 10px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}
